@import "typography";
@import "top_navigation";
@import "badges_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";
@import "skins";
@import "md-skin";
@import "media";

@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
